body {
    background-color: seashell;
    font-family: 'Lora', serif;
}

/*overwriting default margin*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
}
/*------------------------------- Header Styles----------------------------*/
#header_container{
    width: 100%;
    height: 10%;
    display: flex;
    margin: 0;
    border: 0;
    background-color: darkmagenta;
    color: white;
    align-items: center;
}
/*------------------------------------ Footer Styles-----------------------------------------------*/
#footer_container{
    display: flex;
    background-color: darkmagenta;
    color: white;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}
#p{
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        align-items: center;
}
/*---------------------main Container Style--------------------------------------------------*/
#main_header {
    text-align: center;
}

#search_input {
    width: 60%;
    margin: 0 auto;
    display: block;
    border: 0;
    border-bottom: 2px solid #1976D2;
    font-size: 30px;
    line-height: 35px;
    height: 70px;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #ff3300;
}

#search_input:focus {
    /*overriding browser default of outline (border when input is active / focus)*/
    outline: 0;
}

#error {
    color: red;
    width: 60%;
    text-align: center;
    margin: 10px auto;
    /*hiding on initial load*/
    display: none;
}

#search_btn {
    display: block;
    text-decoration: none;
    background: darkslateblue;
    color: #d7d2e2;
    width: 200px;
    border-radius: 20%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0 0 0 5px #5569ff;
    border: dashed 1px #FFF;
    /*---animation on hover----*/
    transition: .4s;
    margin: 10px auto;
}

#search_btn:hover {
    background: #668ad8;
    box-shadow: 0 0 0 2px #668ad8;
}

#list_container ul li {
    display: flex;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

#list_container ul li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #2349fd;
}

#list_container ul li div {
    padding: 10px;
}

#list_container ul li div {
    width: 70%;
}

#list_container ul li div:first-child {
    width: 15%;
}

#list_container ul li div:last-child {
    width: 15%;
}

/*movie_details.html*/
#movie_title{
    text-align: center;
    background-color: lightblue;
    padding: 15px 5px;
}
#details_container {
    display: flex;
}

#details_container > div {
    margin: 10px;
    padding: 15px;
}

#cast_container h2 {
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding: 15px 5px;
}

#cast_container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cast_container ul li {
     margin: 5px;
     padding: 5px;
     width: 200px;
     overflow-x: hidden;
    text-align: center;
 }
