<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>BNY Full Stack Developer Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <div>
        <!-------------------------------------Top Bar-------------------------------------------------------------->
        <header id="main_header">
            <div>
                <a href="index.html">
                    <img src="../images/logo.png" alt="BNY" width="150" height="60">
                </a>
            </div>
            <div id="main_header_right">
                <div class="main_header_dropdown">
                    <img src="https://www.bnymellon.com/_global-assets/img/globe_svg/usa.svg" alt="USA">
                    <p>United States</p>
                </div>
                <div id="header_search_form">
                    <input type="text" id="header_search_input">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
        </header>
        <!---------------------------------------Menu Bar------------------------------------------------------->
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">HOME
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Our Story</a>
                    <a href="#">Our People</a>
                    <a href="#">Our World</a>
                    <a href="#">Our Future</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">ABOUT
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Investment Services</a>
                    <a href="#">Investment Management</a>
                    <a href="#">Wealth Management </a>
                    <a href="#">Markets</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">RECHARGE IT PROGRAM
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="bnyFullStackWebDeveloper.html">BNY FULL-Stack Web Developer</a>
                    <a href="trainingLocations.html">TRAINING LOCATIONS</a>
                </div>
            </div>

            <div id="right_align_menu">
                <a href="login.html">Login</a>
                <a href="registerPage.html">REGISTER</a>
            </div>
        </div>
        <!----------------------------------------Main Content------------------------------------------------->
        <div id="course_content">
            <div id="course_banner">
                <h4>platform by PerScholas</h4>
            </div>
            <div id="content_description">
                <div style="color:black; background-color: skyblue; border-radius: 2%;">
                    <h1>BNY Full-Stack Web Developer </h1>
                    <hr><br>
                    <h3>Course Overview:</h3>
                    <hr><br>
                    <p><strong>This 16-week Full Stack Java Developer course </strong>provides candidates with hands-on
                        experience to build a full stack application from scratch.<br>Candidates will learn to implement the
                        methodologies of visual design when utilizing front-end languages and frameworks.
                        candidates will also cover the Java back-end environment and Spring MVC framework to implement
                        seamless interaction across the front-end, the back-end, and an Oracle database.<br><strong>Over the
                        16-week training,</strong> candidates will complete various assignments and projects hosted on their Github
                        repository while utilizing AWS workspaces.Candidates will complete the case study
                        project evaluates their aptitude and proficiency in full stack development, core programming
                        skills, and project management skills.</p>
                </div>
                <div id="course">
                    <div id="table_main_container">
                        <table cellspacing="20" ---->
                            <tr>
                                <th>Course Name</th>
                                <th>Instructor Name</th>
                            </tr>

                            <tr>
                                <td>SQL</td>
                                <td>Kieda Maliqi</td>
                            </tr>
                            <tr>
                                <td>HTML/CSS</td>
                                <td>Marcial Cordon</td>
                            </tr>
                            <tr>
                                <td>JavaScript</td>
                                <td>Marcial Cordon</td>
                            </tr>
                            <tr>
                                <td>Core Java</td>
                                <td>A H M Shahparan</td>
                            </tr>
                            <tr>
                                <td>JUNIT, Build Management and Spring MVC</td>
                                <td>A H M Shahparan</td>
                            </tr>
                            <tr>
                                <td>Spring MVC - DevOps</td>
                                <td>A H M Shahparan</td>
                            </tr>
                            <tr>
                                <td>Continuous Integration, Code Quality and Security Concepts</td>
                                <td>A H M Shahparan</td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>

            <!----------------------------------------End Main Content------------------------------------------------->

            <!----------------------------------------Social Icons------------------------------------------------->
            <div id="social_icon">
                <a href="http://www.facebook.com/bnymellon"><i class="fab fa-facebook-f"></i></a>
                <a href="http://www.youtube.com/user/BNYMellon"><i class="fab fa-youtube"></i></a>
                <a href="http://www.twitter.com/bnymellon"><i class="fab fa-twitter"></i></a>
                <a href="http://www.linkedin.com/company/bny-mellon"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/bnymellon/"><i class="fab fa-instagram"></i></a>
            </div>
            <!----------------------------------------End Of Social Icons------------------------------------------------->


            <!------------------------------------------Footer---------------------------------------------------------->
            <div class="footer">
                <p>SITEMAP | SUPPLIERS | PRIVACY | TERMS OF USE</p>
                <div>
                    <p>&copy;2019 THE BANK OF NEW YORK MELLON CORPORATION</p>
                </div>
            </div>
        </div>
</body>

</html>