<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Training Locations Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <div>
        <!-------------------------------------Top Bar-------------------------------------------------------------->
        <header id="main_header">
            <div>
                <a href="index.html">
                    <img src="../images/logo.png" alt="BNY" width="150" height="60">
                </a>
            </div>
            <div id="main_header_right">
                <div class="main_header_dropdown">
                    <img src="https://www.bnymellon.com/_global-assets/img/globe_svg/usa.svg" alt="USA">
                    <p>United States</p>
                </div>
                <div id="header_search_form">
                    <input type="text" id="header_search_input">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
        </header>
        <!---------------------------------------Menu Bar------------------------------------------------------->
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">HOME
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Our Story</a>
                    <a href="#">Our People</a>
                    <a href="#">Our World</a>
                    <a href="#">Our Future</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">ABOUT
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Investment Services</a>
                    <a href="#">Investment Management</a>
                    <a href="#">Wealth Management </a>
                    <a href="#">Markets</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">RECHARGE IT PROGRAM
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="bnyFullStackWebDeveloper.html">BNY FULL-Stack Web Developer</a>
                    <a href="trainingLocations.html">TRAINING LOCATIONS</a>
                </div>
            </div>

            <div id="right_align_menu">
                <a href="login.html">Login</a>
                <a href="registerPage.html">REGISTER</a>
            </div>
        </div>
 <!----------------------------------------Main Content------------------------------------------------->
<div id="training_content">
            <div id="training_banner">
                <h4>BNY Training Locations</h4>
            </div>
            <div id="content_description">
                <div id="location_info">
                    <table >
                        <h1>Training Locations: </h1>
                        <hr>
                        <tr>
                            <th>New York: </th>
                            <td>HeadQuater<br>240 Greenwich Street,<br>New York, NY 10007</td>
                        </tr>
                        <tr>
                            <th>New Jersey: </th>
                            <td><br> 1 Parshing Plaza,<br>Jersey City, NJ 07302
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.1663302097368!2d-74.01400198459501!3d40.714354779331615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b66b363e7f7%3A0xa0a6be164c92849!2s240+Greenwich+St%2C+New+York%2C+NY+10007!5e0!3m2!1sen!2sus!4v1550511449600"
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12095.851347009879!2d-74.0417749!3d40.7188346!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x657c37158378393d!2sBNY+Mellon+%7C+Pershing!5e0!3m2!1sen!2sus!4v1550514666432"
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
        <!----------------------------------------End Main Content------------------------------------------------->

        <!----------------------------------------Social Icons------------------------------------------------->
        <div id="social_icon">
            <a href="http://www.facebook.com/bnymellon"><i class="fab fa-facebook-f"></i></a>
            <a href="http://www.youtube.com/user/BNYMellon"><i class="fab fa-youtube"></i></a>
            <a href="http://www.twitter.com/bnymellon"><i class="fab fa-twitter"></i></a>
            <a href="http://www.linkedin.com/company/bny-mellon"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/bnymellon/"><i class="fab fa-instagram"></i></a>
        </div>
        <!----------------------------------------End Of Social Icons------------------------------------------------->


        <!------------------------------------------Footer---------------------------------------------------------->
        <div class="footer">
            <p>SITEMAP | SUPPLIERS | PRIVACY | TERMS OF USE</p>
            <div>
                <p>&copy;2019 THE BANK OF NEW YORK MELLON CORPORATION</p>
            </div>
        </div>
    </div>
</body>

</html>