#course_banner{
    background-image: url("../images/coursesPic.jpg");
    background-size: 100% 130%; 
    height: 350px;
    padding-top: 200px;
    padding-left: 50px;
    h4 {
        font-size: 36px;
        position: relative;
        color: blue;
    }

}


#content_description {
    //animation: fadeOutUp 10s infinite;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    border: 2px solid black;
    div {
        padding: 15px;
        margin: 10px;
        background-color:#A29060;
        //color:black;
        th{
            font-family: 'Times New Roman', Times, serif;
            text-align: justify;
        }
        iframe {
            margin: 0 10px;
        }
    }
    #table_main_container{
    background-image: url("../images/1bacground.jpg");
    color:black;
}

    #course{
        width: 200%;
        height: 300%;
        animation: pulse 5s infinite;
        border-radius: 10px;
        //animation: lightSpeedIn 2s;
    }
}