@import '../scss/variable';
#login_main_content{
    background-image: url("../images/loginPagePic.jpg");
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    #login_form {
        background-color: white;
        border-radius: 10px;
        border: 1px solid black;
        padding: 15px;
        width: 40%;
        // height: 250px;
        h2{
            text-align: center;
            margin-bottom: 20px;
        }
        label{
            width: 20%;
            display: inline-block;
            font-size: 18px;
            margin-right: 5px;
        }
        input {
            // border: none;
            width: 75%;
            height: 30px;
            border-radius: 5px; 
            padding: 5px;
        }
        div {
            margin: 10px;
        }
        button{
            padding: 5px 20px;
            margin: 0 auto;
            // width: 50px;
            display: block;
            border-radius: 5px;
            border: none;
            background-color:$secondaryColor;
        }
        #register_page{
            text-align: center;
        }
    }

}

